language: python
python:
  - "3.6"
  - "3.7"
  - "3.8"

install:
  - pip install -r requirements.txt
  - pip install torch==1.7.1+cpu torchvision==0.8.2+cpu -f https://download.pytorch.org/whl/torch_stable.html

script:
  - python -m unittest discover test
  - python -m test_component
  #- python -m main -m lenet -r hp1 -d MNIST
